@import "/home/taylor/.config/waybar/wallust/colors-waybar.css";

window {
    background-color: rgba(0,0,0,0.9);
    opacity: 1;
    border-radius: 12px 12px 0 0;
}

#outer-box {
margin: 0px;
}

#input {
margin: -1000px;
}

#input > image {
margin: 0 10px 0 0;
}

#input > image.left {
margin: 0 10px 0 0;
}

#input > image.right {
margin: 0;
}

#scroll {
margin: 2px;
/* border: 2px solid rgba(255,255,255,0); */
background-color: @base;
border-radius: 12px;
}

#scroll label {
margin: 2px 0px;
}

#entry {
margin: 2px 2px;
padding-left: 7px;
border: 2px;
min-width: 50px;
max-width: 100px;
color: #fff;
font-size: 14px;
}
#entry:selected {
background-color: rgba(255,255,255,0.15);
border-radius: 12px;
box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
color: @color13;
/* border: 2px solid @mauve; */
}

#img {
margin: 5px;
}
#img:selected {
}

#text {
margin: 5px;
border: none;
color: #fff;
}
#text:selected {
}
