@import "/home/taylor/.config/waybar/wallust/colors-waybar.css";

@define-color theme_selected_bg_color @color13;

* {
outline: none;
}

#input {
border: 0;
box-shadow: none;
border-bottom: 2px solid @color13;
padding-bottom: 5px;
}

#input:focus {
border: 0;
box-shadow: none;
border-bottom: 2px solid @color13;
}

.thunar .view {
background-color: #000000;
}
/* sidebar */
.thunar .sidebar .view {
background-color: #000000;
}
/* main view */
.thunar .standard-view .view {
background-color: #000000;
}
/* status bar */
.thunar grid paned grid {
background-color: #000000;
}
/* toolbar */
.thunar toolbar, .thunar toolbar entry {
background-color: #000000;
}
.thunar .view:selected {
background-color: @color13;
color: #ffffff;
}
.thunar .view .rubberband {
background: rgba(255,255,255,0.3);
border-color: @color13;
}
.thunar menubar {
background-color: #000000;
}
