[Desktop Entry]
Name=Lock
Comment=Lock system
Icon=udiskie-lock
Exec=/home/taylor/.config/hypr/UserScripts/wlogout.sh
TryExec=wlogout
Terminal=false
Type=Application
Categories=Settings;
X-Desktop-File-Install-Version=0.28
StartupNotify=false
